<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}birdseye{% endblock %}</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <script src="{{ url_for('static', filename='js/libs/jquery-3.2.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/bootstrap.js') }}"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block whole_body %}
    <div class="container">
      
      <h1>
        <a href="{{ url_for('index') }}">
        <img
          height="50px"
          src="{{ url_for('static', filename='img/quantco_logo.png') }}"
        />
        Calculation Profiler - 
        </a>
        <small class="muted">
          a fork of  <a href="https://github.com/alexmojaki/birdseye">Birdseye</a>
        </small>
      </h1>

      <hr />

      {% block body %}{% endblock %}
      
    </div>
    {% block after_container %} {% endblock %} {% endblock %}
  </body>
</html>
