{% extends "call_base.html" %}
{% block body %}

    {% set typ = func.type %}

    <div>
        <a href="{{ url_for('job_view', id=call.job.id) }}">
            <i class="glyphicon glyphicon-chevron-left"></i>
            <strong>{{ call.job.job_name }}</strong> 
        </a>
    </div>

    <h2>
        {% if typ == 'module' %}
            Execution of module:
        {% else %}
            Call to function:
        {% endif %}

        <a class="code-font"
           href="{{ url_for('func_view', path=func.file, func_name=func.name) }}">
            {% if typ == 'module' %}
                {{ short_path }}
            {% else %}
                {{ func.name }}
            {% endif %}
        </a>
    </h2>

    <p>
        <strong>Source:</strong> {{ func.file }}
            {% if typ == 'function' %}
                (line {{ func.lineno }})
            {% endif %}
    </p>
   
    {% if typ == 'function' %}
        {% if call.arguments_list %}
            <p><strong>Arguments:</strong></p>
            <table class="code-font table table-bordered args-table">
                {% for k, v in call.arguments_list %}
                    <tr>
                        <td>{{ k }}</td>
                        <td><small class="qc-inspector-value">{{ v }}</small></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p><strong>No arguments</strong></p>
        {% endif %}
    {% endif %}

    <p><strong>Result:</strong>
        {% if call.success %}
            <table class="code-font table table-bordered args-table">
                    <tr>
                        <td><small class="qc-inspector-value">{{ call.result }}</small></td>
                    </tr>
            </table>
        {% else %}
            </p>
            <pre>{{ call.traceback }}</pre>
        {% endif %}

    {% from 'info_panel.html' import info_panel %}

{% endblock %}

{% block after_container %}
    {% include "call_core.html" %}
{% endblock %}